* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

main {
    padding: 20px;
}

h1, h2 {
    margin-top: 0;
}

#project-list {
    display: flex;
    flex-wrap: wrap;
}

.project {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(33.33% - 20px);
}

footer {
    text-align: center;
}

